.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand';
  height: 300px;
  margin: 0 0 30px 0;

  &_items {
    border: 1px solid #e0e0e0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    text-align: left;

    &_description {
      color: gray;
      font-size: 16px;
      margin: 0;

      span {
        color: red;
      }
    }
  }

  .fundInput_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
